.dropdown-toggle {
    margin-top: -10px;
    width: 24px;
    height: 23px;
    padding: 0 !important;
}

.dropdown-menu {
    font: initial;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
    content: none !important;
}