.navbar {
    background: #000000;
    z-index: 20;
}

#logo {
    width: 60px;
    height: 60px;
}

.menu-toggle {
    padding-left: 0.5em;
}

.menu-toggle {
    display: block;
    background-color: #3c9cf8;
    width: 24px;
    height: 3px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: relative;
}

.menu-toggle::before {
    top: -8px;
}

.menu-toggle::after {
    top: 8px;
}

.menu-toggle::before,
.menu-toggle::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
}

.nav-link {
    margin-top: -10px;
    width: 24px;
    height: 23px;
    padding: 0 !important;
}

.dropdown-menu {
    font: initial;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
    content: none !important;
}