.navbar {
    background: #000000;
    z-index: 20;
}

#logo {
    width: 60px;
    height: 60px;
}

.menu-toggle {
    margin-left: 10px;
}

.language-toggle {
    margin-right: 20px;
}

.nav-link {
    margin-top: -10px;
    width: 24px;
    height: 23px;
    padding: 0 !important;
}

.dropdown-menu {
    font: initial;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
    content: none !important;
}